<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit user</title>

</head>
<body>
<div class="modal fade" th:id="${'modalEdit'+update.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEdit"
                  th:method="post"
                  th:action="@{/admin/updateUser/{userId}(userId=${})}"
                  th:object="${user}">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                            data-dismiss="modal"></button>
                </div>

                <!--                 Форма id-->
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser">
                                    <b>ID</b>
                                    <input class="form-control" th:type="number"
                                           th:name="id" id="idEditUser"
                                           th:value="${update.id}" readonly>
                                </label>
                            </p>

                            <!--                          Форма First name-->
                            <p>
                                <label for="editName">
                                    <b>First name</b>
                                    <input class="form-control" th:type="text"
                                           th:name="firsName" id="editName"
                                           th:value="${update.firstName}"
                                           required
                                           minlength="1"
                                           maxlength="50">
                                </label>
                            </p>

                            <!--                          Форма Last name-->
                            <p>
                                <label for="editLastName">
                                    <b>Last Name</b>
                                    <input class="form-control" th:type="text"
                                           th:name="lastName" id="editLastName"
                                           th:value="${update.lastName}"
                                           required
                                           minlength="1"
                                           maxlength="50">>
                                </label>
                            </p>

                            <!--                          Форма Age-->
                            <p>
                                <label for="editAge">
                                    <b>Age</b>
                                    <input class="form-control" th:type="number"
                                           th:name="age" id="editAge"
                                           th:value="${update.age}" required>
                                </label>
                            </p>

                            <!--                          Форма Email-->
                            <p>
                                <label for="editEmail">
                                    <b>Email</b>
                                    <input class="form-control" th:type="email"
                                           th:name="email" id="editEmail"
                                           th:value="${update.email}" required>
                                </label>
                            </p>

                            <!--                          Форма Password-->
                            <p>
                                <label for="password">
                                    <b>Password</b>
                                    <input type="password" class="form-control"
                                           id="password"
                                           name="password" required minlength="3"
                                           maxlength="20">
                                </label>
                            <p/>

                            <!--                      Форма ролей-->
                            <label class="container-fluid col-6"
                                   for="editUserRoles">
                                <strong>Role</strong>
                                <select id="editUserRoles" class="form-select"
                                        name="roleList" multiple size="2">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.getId()}">
                                        <th:block th:text="${role.getRoleName()}">
                                        </th:block>
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>

                <!--                                Кнопка Close-->
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <input class="btn btn-primary" type="submit"
                           value="Edit"/>
                </div>
            </form>

        </div>
    </div>
</div>
</div>

<!--<h1>Edit user</h1><br>-->
<!--<form th:method="post" th:action="@{/admin/updateUser/{userId}(userId=${update.getId()})}" th:object="${update}" >-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Name</td>-->
<!--            <td><input th:type="text" th:field="*{firstName}" required th:value="${update.getFirstName()}" class="data"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Last name</td>-->
<!--            <td> <input th:type="text" th:field="*{lastName}" required th:value="${update.getLastName()}" class="data"></td></tr>-->
<!--        <tr>-->
<!--            <td>Age</td>-->
<!--            <td> <input th:type="text" required th:field="*{age}" th:value="${update.getAge()}" class="data"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td colspan="2" height="20px"></td>-->
<!--        </tr>-->
<!--        <tr style="text-align: right;"><td colspan="2"><input type="submit" value="Save changes" id="saveButton"/>&nbsp;&nbsp;&nbsp;<a th:href="@{/admin}">Cancel</a></td></tr>-->
<!--    </table><br>-->
<!--</form>-->
<a th:href="@{/logout}"><input type="button" id="logoutButton" value="Exit"></a>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>